<p><%= @game.attacker.name %>'s turn</p>

<p><%= @game.player_1.name %> HP is <%= @game.player_1.points %> and <%= @game.player_2.name%> HP is <%= @game.player_2.points %></p>

<form action="/attack">
  <input type="submit" value="Attack" />
</form>

<form action="/sleep">
  <input type="submit" value="Send to sleep" />
</form>
